.location-row {
  margin-bottom: 3rem;
}

.location-line {
  background-color:#A7183F;
  height: 1px;
  margin: 0.5rem 0 0.5rem 0;
}

.location-item {
  margin-bottom: 3rem;
}

.contact-details {
  font-size: 1.4rem;
  line-height: 2.8rem;

}

.contact-list-row {
  margin-bottom: 3.5rem;
}