.login-form {
  padding-top: 2rem;
  margin-top: 2rem;
  border: 2px solid #A7183F;
  border-radius: 12px;
  padding-bottom: 4rem;

  .main-title{
    border-bottom-style: none;
    margin-bottom: 4rem;
  }
}

