//NAVBAR RESET
.navbar {
  margin-bottom: 0;
  background-color: #A7183F;
  color: #FFFFFF;
}

.navbar-default {
  .navbar-brand {
    color: #FFFFFF;

    img {
      max-width: 100%;
    }
  }

  .navbar-nav {
      &> li {
        &> a{
          color: #FFFFFF;
        }
      }
  }
}